.purchaseSuccess {
    border: 1px solid #17d292
}

.purchaseSuccess .title {
    color: #17d292;
}

.purchaseSuccess .text {
    line-height: 22px;
}
.purchaseFail .text {
    line-height: 22px;
}
.purchaseAlert .text {
    line-height: 22px;
}

.fa-thumbs-up {
    color: #0abf81;
    background-color: #cff6e9;
    border: 1px solid #0abf81;
    top: -15px;
    left: 20px;
}

.purchaseFail {
    border: 1px solid #D8295F
}

.purchaseFail .title {
    color: #D8295F;
}

.fa-light-emergency-on {
    color: #D8295F;
    background-color: #f8dae2;
    border: 1px solid #D8295F;
    top: -15px;
    left: 20px;
}

.purchaseAlert {
    border: 1px solid #ff6c00
}

.purchaseAlert .title {
    color: #f6d6bf;
}

.fa-diamond-exclamation {
    color: #ff6c00;
    background-color: #f6d6bf;
    border: 1px solid #ff6c00;
    top: -15px;
    left: 20px;
}