/* Fateme Tekrar */
.btn {
    font-size: 14px !important;
    font-weight: bold;
}

/* .btn:hover {} */

.bill {
    margin-top: 20px !important;
}

.bill .question {
    margin: 0 5px !important;
}

.basket {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
}

.basket section {
    margin-bottom: 15px;
}

.questionRight {
    padding-right: 0;
    padding-left: 18px;
}

#question-send {
    width: 65%;
}

.question-box {
    height: auto;
    width: auto;
    box-shadow: 0px 0px 10px 5px rgba(217, 217, 217, 0.8);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 7px;
}

.question-title {
    margin-top: 0px !important;
    padding: 10px;
}

.question-text {
    line-height: 18px;
    padding: 10px;
}

#question-button {
    color: #ffffff;
    background-color: #17d292;
    padding: 10px 30px;
    border: none;
    margin: 8px;
    max-width: 40%;
}

.prod-border {
    border-left: 2px solid #c2c2c2;
    height: 100px;
    align-items: center;
}

.prodImg {
    height: 100px;
    width: 70px;
}

.profilepic__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.prodImg-search {
    position: absolute;
    top: 33%;
    left: 33%;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.prodImg:hover {
    filter: grayscale(100%);
    transition: opacity .2s ease-in-out;
}

.prodImg:hover .prodImg-search {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.modal-close {
    top: -8px;
    left: -8px;
}

.modal-header {
    height: 45px !important;
}

.close-btn {
    left: 15px;
    top: 15px;
    margin: auto;
}

.wallet {
    color: #1976d2;
}

.discount {
    padding: 0 !important;
    height: 40px !important;
}

.discount .btn {
    border-radius: 5px 0 0 5px;
    padding: 0px 0px !important;
    width: 60%;
    height: 40px;
    line-height: 13px;
}
.discount input {
    min-width: 10px;
}

.vl {
    border-left: 2px solid #c2c2c2;
}

.verticalLine {
    height: 30px;
    border-left: 2px #c2c2c2 solid
}

.basket-btn {
    width: 100%;
    margin-top: 40px;
    min-width: auto;
}

.popUpPage {
    position: fixed;
    top: 100px;
    left: 20%;
    right: 20%;
    height: auto;
    background-color: #1976d2;
    display: none;
    z-index: 100000000;
    color: white;
}

.popUp-input {
    display: block;
    border: none;
    margin: auto;
    padding: 15px 0px;
    width: 80%;
}

.popUp-span {
    display: block;
    border: none;
    padding: 10px;
    text-align: right;
    width: 80%;
    margin: auto;
    padding: 15px 0px 10px 0px;
}

.popUp-btn {
    background-color: #17d292;
    color: #ffffff;
    padding: 12px 40px;
    border-radius: 13px;
    border: none;
    font-size: 24px;
}

.popUp-btn-div {
    width: 80%;
    margin: auto;
    padding: 20px 0px !important;
}

.popUp-img {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 10%;
    height: 10%;
    max-width: 20px;
    max-height: 20px;
}

.c2c2c2 {
    background-color: #c2c2c2;
}

.c4c4c4 {
    background-color: #c4c4c4;
}

.c17d292 {
    background-color: #17d292;
}

.ff0048 {
    background-color: #ff0048;
}

.ffffff {
    background-color: #ffffff;
}

.c000000 {
    background-color: #000000;
}

.c3d3d3d {
    background-color: #3d3d3d;
}

.c969696 {
    background-color: #969696;
}

.d9d9d9 {
    background-color: #d9d9d9;
}

.f2f2f2 {
    background-color: #f2f2f2;
}

.c1976d2 {
    background-color: #1976d2;
}

.D0F6E9 {
    background-color: #D0F6E9;
}

.F8DAE2 {
    background-color: #f8dae2;
}

.D8295F {
    background-color: #D8295F;
}

.F6D6BF {
    background-color: #f6d6bf;
}

.EE7E26 {
    background-color: #ff6c00;
}


@media only screen and (max-width: 768px) {

    .questionRight {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    #question-send {
        width: 30%;
    }

    .btn {
        font-size: 12px !important;
    }
}